.ChatBox {
    position: fixed;
    top: 85%;
    left: 92%;
    /* height: fit-content; */
}

.ChatBox img {
    width: 100px;
    border: 5px solid salmon;
    border-radius: 50%;
  box-sizing:border-box;
  /* animation: imgborder 10s ease infinite; */
  /* animation:  imgborder infinite 20s linear; */
  animation-name: imgborder;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
 
  /* border: 2px solid salmon; */
}
@keyframes imgborder{
    0% {
        /* border: none; */
    border: 5px solid blue;

    }
    25% {
    border: 2px solid red;
    /* border: 2px; */
        
    }
    50% {
    border: 3px solid rgb(37, 225, 3);
    /* border:  3px; */
    }
    75% {
    border: 4px solid rgb(224, 8, 244);
    /* border: 4px; */
    }
    100% {
    border: 5px solid rgb(7, 213, 240);
    /* border: 5px; */
    }
}

.ChatBox_info {
    /* color: white !important; */
    /* border: 5px solid salmon; */
    background-color: red;
}
.ChatBox_info small{
    color: white;
    margin-top: 10px;
}
.ChatBox_info {
    right: 90px;
     position: absolute;
    bottom: 25px;
    width: 150px;
    height: fit-content;
    animation: chatsupport 2s ease ;
    display: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
}

    .ChatBox:hover img {
        cursor: pointer;
    }

    .ChatBox:hover .ChatBox_info{
        display: inline;
    }

@keyframes chatsupport{
     0% {
     right: 120px;
    } 
   
    100%{
        right: 90px;}

       
    }
 

    @media (max-width:1000px){
        .ChatBox {
            left: 90%;
        }
    }

    @media (max-width:750px){
        .ChatBox {
            left: 85%;
        }
    }


    @media (max-width:500px){
        .ChatBox {
            left: 80%;
        }
    }


    @media (max-width:400px){
        .ChatBox {
            left: 75%;
        }
    }

    @media (max-width:400px){
        .ChatBox {
            left: 65%;
        }
    }

.scrollTop_btn {
    /* background-color: red; */
    /* border:  25px solid salmon; */
    top:79%;
    right: 2%;
    width: 35px;
    height: 35px;
    position: fixed;
    /* position: absolute; */
    /* rotate: 90; */
    transform: rotate(270deg);
    /* padding-left: 5px; */
    border: 0.5px solid salmon;
}
/* :placeholder-shown */