.header1_scrl
 {
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-left: 135px;
    padding-right: 140px;
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 14px;
    height: 54.5px;
    /* min-height: fit-content; */
    position: sticky;
    top: 0px;

}

.header1_left_img {
    height: 54px;
}

.header1_right_scl {
    display: flex;
    justify-content: space-between;
    /* margin-left: 5px; */
}

.header1_right_scl button {
    border: none;
    background-color: #efefef;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: #5d5d5d;
    font-size: 15.5px;
    /* margin-left: 35px; */
    margin-left: 15px;
    
}
button:hover {
    cursor: pointer;
}

@media (max-width:675px){

.header1_scrl {
 /* flex-direction: column; */
 justify-content: space-between;
 /* padding: 5px !important; */
  height: fit-content;
  /* max-width: 100%; */
  width: 100%;
  padding: 0px;
}
.header1_right_scl{
    /* width: 80%; */
    /* margin-left: -55px ; */
    justify-content: space-around;
}
.header1_left img {
    padding-left: 25px;
}


.header1_small {
    padding-right: 15px;
}

.header1_dis {
    justify-content: space-between !important;
}
}

.header1_small {
    display: none;
}


.header1_small_yes {
    display:block;
}


/* input:focus{
    border: 1px solid red !important;
} */


@media (max-width:1000px){
    .header1_small {
        display: block;
    }
.header1_right_scl {
    display: none;
}



}

@media (min-width:1000px){
    .header1_small_display {
        display: none;
        /* width: 500px; */
    }

    .header_bar_scl {
        display: none;
    }

.header1_small_display button{
display: none;

}
.header1_dis{
height: fit-content ;
}


    
}

@media (max-width:1000px){
    .header_bar_scl {
        display: flex;
        flex-direction: column;
        width: 250px;
        /* background-color: #efefef; */
     /* background-color: red; */
     border: 2px salmon salmon;
     position: relative;
     top:50px;
     right: 350px;
    }
    .header1_dis{

        height: 200px !important;
        
            background-color: #efefef;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            /* padding-left: 135px; */
            /* padding-right: 140px; */
            font-family: 'Open Sans', sans-serif;
            color: #212529;
            font-size: 14px;
            /* height: 54.5px; */
            min-height: fit-content;
            position: sticky;
            top: 0px;
        
        
        
    }
}


.header_bar_scl button {
    background-color: #efefef;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
     
}

/* .header1_small_display {
    border: 2px solid salmon;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 500px;
    right: 250px;
} */

/* .header1_small_display button{
  background-color: red;
  margin-top: 2px;

} */

/* .header_inside {
    display: flex;
    justify-content: space-around;
    border:  4px solid sa;

} */

.header1_dis{
    background-color: #efefef;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    /* padding-left: 135px; */
    /* padding-right: 140px; */
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 14px;
    
    position: sticky;
    top: 0px;
    height: 150px;
}



@media (max-width:850px){
    .header_bar_scl {
        
     right: 45%;
    }
}


/* @media (max-width:600px){
    .header_bar {
        
     right: 250px;
    }
}

@media (max-width:600px){
    .header_bar {
        
     right: 250px;
    }
} */

@media (max-width:350px){
    .header_bar_scl {
        
     right: 50%;

    }

.header1_dis{
  height: 180px;
}
}

.header1_right_scl button:nth-child(1){
    background-color: #c60001;
    color: white;
    border-radius: 10px;
    height: 25px;
    width: 45px;
    align-self: center;
}

.header1_small button {
    background-color: #efefef;
    /* padding: none; */
    /* height: 10px !important; */
}

.header_small_inside {
    display: flex;
    flex-direction: column;
    /* height: 2px !important; */
    /* align-items: center; */
}

.header_small_inside button{

    margin-top: -0.9px;

}